/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #FFF;
  border: none;
}
input,
label {
  display: block;
  outline: none;
  width: 100%;
}
a {
  color: #009BDB;
}
body {
  padding-top: 5vh;
  background-image: url('tete_page.jpg');
  background-size: cover;
  background-position-y: -top;
}
/* form */
#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: #000;
  border-radius: 10px;
  padding: 25px;
}
#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}
form {
    display:flex
    flex-wrap:wrap
}
.full-box {
    flex:1
    position:relative
}
 input[type="submit"] {
    background-color: #009BDB;
    color: #000;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }
#numero-sorteio {
    position:absolute
    top:0
    right:20
    display:flex
    justify-content:center
    align-items:center
    margin-top:25px
    margin-right:20px
}
#input-numero-sorteio {
    border:none
    background-color:transparent
    width:100px
    font-size:28px
    font-weight:bold
}
